.header__container {
  max-width: 1170px;
  padding: 20px 0;
  display: flex;
  margin: 0 auto;
}

@media screen and (max-width: 1440px) {
  .header__container {
    padding: 20px 0;
  }
}

@media screen and (max-width: 767px) {
  .header__container {
    display: none;
  }
}
